<nav class="navbar navbar-default" class="menu" data-spy="affix" data-offset-top="197" >
<div class="container-fluid" data-spy="affix" data-offset-top="197" >
<div class="navbar-header" data-spy="affix" data-offset-top="197" >
	</div>
  <ul class="nav navbar-nav" class="menu" data-spy="affix" data-offset-top="197" >
    <li class="nav-button" class="current-item" id= "home"  class="active"><%= link_to "Home", root_url %></li>
    <li class="nav-button"><%= link_to "Login", "#" %></li>
    <li class="nav-button"><%= link_to "Signup", "#" %></li>
    <li class="nav-button" id= "about-us"><%= link_to "About Us", "#" %></li>
  </ul>
  </div>
</nav>